body {
    min-height: 650px;
    min-width: 850px;
}

td,th {
    border: 2px solid black;
}

#road {
    border:1px solid black;
    text-align: center;
    will-change: transform;
}

#left {
    float:left;
}

canvas{
    cursor:none;
}
